#main{

    & section{

        &#hero{
            height: 100vh;
            background-size: cover;
            background-position: center;
            margin-top: -96px;

            @media(max-width: 600px){
                height: 70vh;
            }

            @media(max-width: $medium){
                margin-bottom: 300px;
            }

            & #actions-wrapper{

                margin-top: calc(80vh - 200px);
                
                @media(max-width: $medium){
                    margin-top: calc(60vh - 150px);
                }

                padding: 20px 0;
                
                & #actions-slider{
                    
                    box-sizing: border-box;
                    box-shadow: 0 4px 0px 0px #80C342, 0 8px 12px rgba(black, .2);
                    border-radius: 6px;
                    position: relative;
                    background: linear-gradient(to bottom, #fff, #F5F5F5);
                    width: 600px;
                    margin: auto;
                    max-width: 100%;
                    
                    & .action-label{
                            
                        position: absolute;
                        right: -26px;
                        top: 10px;
                        color: #fff;
                        background: #80C342;
                        width: 100px;
                        text-align: center;
                        transform: rotate(45deg);
                        z-index: 20;
                    }
                        
                    
                    & .action-slide{
                                    
                        display: flex;
                        align-items: center;
                        overflow: hidden;

                        @media(max-width: $medium){
                            flex-direction: column;
                        }
                        
                        & .action-image{
                                            
                            width: 180px;
                            height: 180px;
                            padding: 10px;
                            flex-shrink: 0;
                            
                            & .lazy{
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                            }
                        }
                        
                        & .action-data{
                            
                            flex-grow: 1;
                            padding: 20px;
                            
                            & .name{
                                font-weight: 600;
                                font-size: 21px;
                            }
                            
                        }
                    }
                    & + .swiper-pagination{
            
                        left: 50%;
                        transform: translate(-50%, 30px);
                        
                        & .swiper-pagination-bullet{
                            margin: 0 20px;

                            @media(max-width: $medium){
                                margin: 0 8px;
                            }
                            
                            &.swiper-pagination-bullet-active{
                                background: #80C342;
                            }
                        }
                    }
                }
            }
            
        }
    
        &#delivery{
            background: $light-grey;
    
            & .lazy-image{
                padding-top: 55%;
                background-size: cover;
                background-position: center;
                border-radius: 8px;
            }
        }
    
        &#delivery-map{
            background: radial-gradient(circle at 30vw 10%, #43A2E7, #0B314B);
            color: #fff;
            font-weight: 300;

            & .row{
                margin: 0;
            }

            & .map-text-wrapper{
                margin: auto;
            }
    
            & .section-header{
                font-weight: 600;
                font-size: 21px;
                text-transform: uppercase;
                margin-top: 10px;
            }
    
            & .work-mode{
                font-size: 24px;
                line-height: 168%;
            }
    
            & .lazy-image{
                padding-top: 60%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &#home{

            & .lazy-image{
                padding-top: 60%;
                background-size: cover;
                border-radius: 8px;
            }
        }

        &#office{
            display: flex;
            padding: 0;
            margin-bottom: 0;

            & .office-image{
                width: calc(50% + 200px);
                flex-shrink: 0;
                background-color: $light-grey;
                background-size: cover;
                background-position: right center;
                background-repeat: no-repeat;
                margin-right: -200px;

            }
            @media(max-width: 1100px){
                flex-direction: column-reverse;

                & .office-image{
                    padding-top: 50%;
                    margin: 0;
                    width: 100%;
                    background-position: top center;
                }
            }

            & .office-text{
                width: 50%;
                box-sizing: border-box;
                padding-right: calc(60% - 50vw);
                padding-left: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
                background: linear-gradient(to right, rgba($light-grey, .6) 0%, $light-grey 130px);

                @media(max-width: 600px){
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }

            @media(max-width: 1200px){

                & .office-image{
                    display: none;
                }

                & .office-text{
                    width: 100%;
                    background: $light-grey;
                }
            }
        }
    }
}