body{
    
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: $text;
    line-height: 1.6rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    & .global-wrapper{
        flex-grow: 1;
    }

    & a:not(.btn):not(.cart-button):not(.clear){

        &:hover{
            text-decoration: underline;
        }
    }

    & .swiper-button-prev{
        top: 0;
        left: -5px;
        height: 100%;
        width: 60px;
        background: linear-gradient(to right, white 60%, transparent);
        background-blend-mode: screen;
        margin-top: 0;
        align-items: center;
        justify-content: left;
        padding-left: 10px;
    }

    & .swiper-button-next{
        top: 0;
        right: -5px;
        height: 100%;
        width: 60px;
        background: linear-gradient(to left, white 60%, transparent);
        background-blend-mode: screen;
        margin-top: 0;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
    }

    & .add-cart{

        display: inline-flex;

        & .plus, & .minus{
            padding: 0 10px;
        }

        & input{
            display: block;
            width: 40px;
            text-align: center;
            border: 0;
        }
    }

    & .hidden{
        display: none;
        pointer-events: none;
    }

    & .cheсk-wrapper{

        & input{
            display: none;

            & ~ label{

                cursor: pointer;
                user-select: none;

                &:before{
                    width: 15px;
                    height: 15px;
                    margin-right: 6px;
                    content: '\F012C';
                    font-family: 'Material Design Icons';
                    border-radius: 2px;
                    background: #ccc;
                    display: inline-block;
                    line-height: 15px;
                    transform: translateY(-1px);
                    color: transparent;
                    box-shadow: 0 1px 3px rgba(black, .3) inset;
                    transition: color .3s, background-color .3s, box-shadow .3s;
                }
            }

            &:checked ~ label{

                &:before{
                    color: #fff;
                    box-shadow: none;
                    background-color: $primary;
                }
            }
        }
    }

    & *:focus{
        outline: none;
    }

    & h1, & h2, & h3, a{
        color: $secondary;
    }

    a{
        cursor: pointer;
        font-weight: 400;
    }

    & .hidden-block{
        display: none;
        pointer-events: none;
    }

    & .btn{

        &:not(.btn-flat){
            background: $primary;

            &:hover{
                background: lighten($primary, 10);
            }
        }


        &.btn-flat{
            color: $primary;
        }
    }

    & .misc-slider{
        padding: 0 10px;
        padding-bottom: 30px;
    }

    & .kv-pair{
        display: flex;

        & .key, & .value{
            width: 30%;
            flex-grow: 1;
        }

        &.separated{

            & .key, & .value{
                width: fit-content;
                flex-grow: 0;
                cursor: default;
            }

            &:hover{
                color: $secondary;
                font-weight: 600;
            }

            & .dotted-separator{
                border-bottom: 1px dotted #ccc;
                flex-grow: 1;
                transform: translateY(-6px);
                margin: 0 10px;
            }
        }
    }

    & section{
        margin: 40px 0;
        padding: 40px 0;

        @media(max-width: 800px){
            margin: 20px 0;
            padding: 20px 0;
        }
    }

    & .pagination{

        & .page{

            &.active{
                background: $primary;
            }
        }
    }
}