.sidenav{

    & .userview{
        padding-top: 40%;
        background-size: cover;
        background-position: center;
    }

    display: flex;
    flex-direction: column;

    & .affilial{
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(to bottom, darken(#ccc, 10), #ccc 10%);
        line-height: unset;

        & a{
            min-width: 50%;
            text-align: center;
            padding: 10px;
            line-height: unset !important;
            flex-grow: 1;
            border-bottom: 1px solid #aaa;

            &.active{
                background: linear-gradient(to bottom, $primary, darken($primary, 10));
                color: #fff;
            }
        }
    }

    & .separator{
        flex-grow: 1;
    }

    & .folder{

        position: relative;

        &:after{
            content: '\F0140';
            font-family: 'Material Design Icons';
            position: absolute;
            right: 20px;
            top: 0;
        }

        & + ul{

            & li{
                background: lighten($fogged, 40);
                max-height: 0;
                overflow: hidden;
                transition: max-height .3s;
            }

        }
        &.expanded{

            &:after{
                content: '\F0143';
            }

            & + ul{

                & li{
                    max-height: 48px;
                }
            }
        }
    }
}