header {
  border: 1px solid red; }
  header .header-wrapper {
    border: 1px solid green;
    display: flex; }
    header .header-wrapper .logo {
      border: 4px solid black; }
    header .header-wrapper ul {
      border: 1px solid orange;
      display: flex;
      margin: 0; }
      header .header-wrapper ul li ul {
        display: none; }
